<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main"  >

    <app-big-card
      Id={{principal.id}}
      photoCover={{principal.photoCover}}
      cardTitle={{principal.title}}
      cardDescription={{principal.description}}
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      *ngFor="let data of datas"
      Id={{data.id}}      
      cardTitle={{data.title}}
      photoCover={{data.photoCover}}
    >
    </app-small-card>
  </div>
</div>
